.menu{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: aquamarine;
}

body{
    margin: 0px;
    background-color: aquamarine;
}

.grid{
    border: 2px solid aqua;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: fuchsia;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
    
}